@import url(css/reset.css);
@import url(css/font.css);
@import url(css/typography.css);

*{
    box-sizing: border-box;
}
.clear-fix{
    clear: both;
}
.clear-fix::after{
    content: "";
    display: block;
    clear: both;
}